
<div id = "header" class="row abc ">
    <!-- <div class="content">
    <h3>FOODY</h3>
    </div> -->
    <div class="col-lg-6"><h3>Swiggy</h3>
        <br>
        <h4>Discover the best food & drinks in Kingman</h4>
    </div>
</div>

<div id = "middle">
    <div class = "row">
       <div class= "col-lg-6">
           <img src="https://images.unsplash.com/photo-1510557880182-3d4d3cba35a5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aXBob25lfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
       </div>
    <div class="col-lg-6">
        <h2>Get the Swiggy App</h2>
        <h2>We will send you a link, open it on your phone to download the app</h2>
        <div class="input-group mb-3">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" placeholder="Email" aria-label="Checkbox for following text input">
            </div>
            <input type="text" class="form-control" placeholder="Email" aria-label="Text input with checkbox">
        </div>
        
        <div class="input-group">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="radio" value="" aria-label="Radio button for following text input">
            </div>
            <input type="text" class="form-control"placeholder="Mobile no" aria-label="Text input with radio button">
        </div>
        <div class = "row xyz"><button type="button" class="btn btn-outline-dark">Share App Link</button></div>
    </div>
    </div>
</div>
